---
import Google from "../utils/google";
import Card from "./Card.astro";
import RotatingImage from "./RotatingImage.astro";
import { marked } from "marked";

const announcements = await Google.getAnnouncements();
---

<Card>
  <div class="grid grid-cols-1 divide-y-4 divide-dotted gap-4">
    {
      announcements.map((a) => (
        <div>
          <h3 class="text-xl text-black">{a.title}</h3>
          {a.author && <h4 class="text-lg text-gray">{a.author}</h4>}
          <Fragment set:html={marked.parse(a.body)} />
          {a.images && (
            <RotatingImage images={a.images} random={true} speed={10} />
          )}
        </div>
      ))
    }
  </div>
</Card>
